.Product-Image {
  height: 80px;
  width: 120px;
}

.Product-Details {
  margin-left: 10px;
  width: 120px;
  height: 80px;
}

.Product {
  width: 30px;
  height: auto;
  align: center
}

.left {
  height: 60px;
  float: left;
}

.right {
  text-align: left;
  width: auto;
  height: 50px;
  float: left;
  font-size: small;
  margin-left: 20px;
}

